header.header
	.header-top
		.container
			.location.header-top__location
				.location__header
					+icon('map','location__icon')
					span.location__current Ваш Город
				.location__body
			include ../navigation/main-nav
			.user-nav.header-top__user-nav
				a(href="").user-nav__link.link--green Войти
	.header-main
		.container
			.logo
				img(src="static/images/general/logo.svg").logo__img
				span.logo__text Продажа материалов
			include ../navigation/catalog-nav
			.search.header-main__search
				input(placeholder="Наименование товара").input-field.input-field--size-small
				+icon('search', 'search__icon')
			.order-callback.header-main__order-callback
				span.order-callback__description Звоните круглосуточно
				a(href="tel:+390977474545").order-callback__phone +390977474545
				a(href="").order-callback__link.link--white.link--underline Заказать звонок
			include ../basket/basket-prev
