.textarea-field {
	background-color: $white;
	border: 1px solid $input-border-color;
	border-radius: 4px;
	box-shadow: none;
	height: 100px;
	padding: 10px 15px;
	width: 100%;
	@include placeholder {color: $text-info-color;}
}