.product-prev
	a(href="").product-prev__header
		.product-prev__marks
			.product-prev__mark.product-prev__mark--bg-yellow -30%
			.product-prev__mark.product-prev__mark--bg-green Хит
		img(src="static/images/content/products/product-prev-1.jpg" alt="Превью товара").product-prev__img
	a(href="").product-prev__body
		.product-prev__title
			span.product-prev__name Товар со скидкой вес 2кг 30*30*1000мм цвет фиолетовый
			span.count-text 3 шт
		.product-prev__info
			span.product-prev__info-label Артикул
			span.product-prev__info-value 1234958
		.product-prev__info
			span.product-prev__info-label Срок изготовления
			span.product-prev__info-value от 2 до 7 дней
		.product-prev__price
			span.product-prev__price-old 10 usd
			span.product-prev__price-current 6 usd за шт.
	.product-prev__footer
		button.btn.btn--fill
			+icon('cart', 'btn__icon')
			span В корзину