section.s-actions
	.container
		.actions
			.section-header
				h2.title-section Акции и спецпредложения
				.section-header__right
					a(href="").section-header__link Все спецпредложения
					span.count-text 12
			.actions-prev
				.action-prev
					.action-prev__header(style="background-image:url('static/images/content/actions/action-prev-1.jpg')")
						a(href="").btn Купить выгодно
					.action-prev__body
						.action-prev__text
							span.action-prev__descr Доступное предложение
							span.action-prev__title в эконом-сегменте
				.action-prev
					.action-prev__header(style="background-image:url('static/images/content/actions/action-prev-1.jpg')")
						a(href="").btn Купить хит сезона
					.action-prev__body
						.action-prev__text
							span.action-prev__descr Сезонная распродажа
							span.action-prev__title cкидки 50%!
				.action-prev
					.action-prev__header(style="background-image:url('static/images/content/actions/action-prev-1.jpg')")
						a(href="").btn Низкие цены! 0.2 usd
					.action-prev__body
						.action-prev__text
							span.action-prev__descr Больше = дешевле
							span.action-prev__title крупный опт от 1000 штук