section.s-advantages.s-bg-white
	.container
		.advantages
			.advantage
				.advantage__aside
					+icon('customer-service', 'advantage__icon')
				.advantage__body
					span.advantage__title Крулосуточная поддержка
					p.advantage__text Вы не останетесь наедине с проблемой, мы всегда готовы помочь!
					a(href="").advantage__link Как с нами связаться?
			.advantage
				.advantage__aside
					+icon('present', 'advantage__icon')
				.advantage__body
					span.advantage__title Быстрая доставка и дополнительные услуги в подарок!
					p.advantage__text Все заботы мы берём под личный контроль за свой счёт! 
					a(href="").advantage__link Узнать больше..
			.advantage
				.advantage__aside
					+icon('payment-method', 'advantage__icon')
				.advantage__body
					span.advantage__title Удобный способ оплаты из любой точки земного шара!
					p.advantage__text Наличными и банковским переводом с минимальной комиссией! 
					a(href="").advantage__link Проверить реквизиты..