section(style="background-image:url('static/images/general/main-banner.jpg')").s-banner
	.container
		.banner
			h1.title-page Продажа материалов от производителя
			p.banner__text Уникальное торговое предложение, демонстрирует выгоды потенциальному клиенту или текст о компании, для поискового продвижения	