section.s-product-prev-line.s-bg-white
	.container
		.section-header
			h2.title-section Товары со скидкой
			.section-header__right
				a(href="").link--green.link--underline Все товары со скидкой
				span.count-text 12
		.products-prev-line
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1