section.s-product-prev-line.s-bg-white
	.container
		.product-prev-line
			.section-header
				h2.title-section Товары со скидкой
				.section-header__right
					a(href="").section-header__link Все товары со скидкой
					span.count-text 12
			.products-prev
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1