section.s-popular-categories
	.container
		.popular-categories
			.section-header
				h2.title-section Популярные категории каталога
			.categories-prev
				.categories-prev__btn.categories-prev__btn--prev
				.categories-prev__btn.categories-prev__btn--next
				.js-categories-prev
					include ../../modules/category/prev1
					include ../../modules/category/prev1
					include ../../modules/category/prev1
					include ../../modules/category/prev1
					include ../../modules/category/prev1
					include ../../modules/category/prev1
					include ../../modules/category/prev1
					include ../../modules/category/prev1