section.s-sales-leaders
	.container
		.section-header
			h2.title Лидеры продаж
		.sales-leaders
			.sales-leaders__row
				.sales-leaders__col
					a(href="").sales-leader.sales-leader--big
						.sales-leader__img
							img(src="static/images/content/products/product-prev-1.jpg" alt="Фото товара")
						span.sales-leader__name Наибольшеe количество в закладках/просмотров
					.sales-leaders__row
						.sales-leaders__col
							a(href="").sales-leader
								.sales-leader__img
									img(src="static/images/content/products/product-prev-1.jpg" alt="Фото товара")
								span.sales-leader__name Товар с купленными отзывами 
						.sales-leaders__col
							a(href="").sales-leader
								.sales-leader__img
									img(src="static/images/content/products/product-prev-1.jpg" alt="Фото товара")
								span.sales-leader__name Товар с купленными комментариями
				.sales-leaders__col
					.sales-leaders__row
						.sales-leaders__col
							a(href="").sales-leader
								.sales-leader__img
									img(src="static/images/content/products/product-prev-1.jpg" alt="Фото товара")
								span.sales-leader__name Товар с купленными комментариями 
						.sales-leaders__col
							a(href="").sales-leader
								.sales-leader__img
									img(src="static/images/content/products/product-prev-1.jpg" alt="Фото товара")
								span.sales-leader__name Товар с купленными отзывами
					a(href="").sales-leader.sales-leader--big
						.sales-leader__img
							img(src="static/images/content/products/product-prev-1.jpg" alt="Фото товара")
						span.sales-leader__name Приз зрительских симпатий
