section.s-product-slider.s-bg-white
	.container
		.section-header
			h2.title-section Вы смотрели
			.section-header__right
				span.product-slider__count
		.product-prev-slider
			.slider-nav.slider-nav--prev
				+icon('back', 'slider-nav__icon')
			.slider-nav.slider-nav--next
				+icon('next', 'slider-nav__icon')
			.js-product-slider
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1
				include ../../modules/product/prev1