// Colors
$white: #ffffff;
$black: #000000;
$base-text-color: #333333;
$button-green-color: #1fa349;
$dark-bg-color: #003333;
$darkest-bg-color: #002c2c;

$main-action-color: #f8e71c;
$main-bg-color: #f2f2f2;

$input-border-color: #ededed;
$link-color: green;
$link-color-hover: #165f2d;
$link-color-visited: #605bb2;
$text-info-color: #bababa;
// Sizes
$base-font-size: 16px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1240px;

// Fonts
$main-font: 'opensans', Arial, sans-serif;
$medium-font: 'opensans-semibold', Arial, sans-serif;
$bold-font: 'opensansbold', Arial, sans-serif;
$boldest-font: 'opensans-extrabold', Arial, sans-serif;