.s-banner {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;
}
.banner {
	background-color: #085f5fbf;
	border: 2px solid #29bdbf;
    text-align: center;
    padding: 50px;
	&__text {
		// background: linear-gradient(to bottom, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
		border: 3px solid orange;
		border-top: 0px;
		box-shadow: inset 0px 0px 20px 200px rgba(0, 51, 51, 0.38);
		font-size: 24px;
		line-height: 1.3;
		padding: 20px;
		// max-width: 680px;
	}
	.title-page {
		border: 3px solid orange; 
		border-bottom: 0px;
		box-shadow: inset 0px 0px 20px 200px rgba(0, 51, 51, 0.38);
		// margin-bottom: 10px;
		padding: 10px;
	}
}