.link {
	color: $base-text-color;
	font-family: $medium-font;
	&:hover { color: $link-color-hover;}
	&:visited { color: $link-color-visited;}
	&--white {
		color: $white;
		font-family: $medium-font;
	}
	&--green {
		color: $link-color;
		font-family: $medium-font;
		&:hover { color: $link-color-hover;}
	}
	&--yellow {
		color: $main-action-color;
		font-family: $medium-font;
	}
	&--underline {text-decoration: underline;}
}