.s {
	&-bg-white { background-color: $white; }
	&-popular-categories { padding-bottom: 10px; }
	&-sales-leaders { padding-bottom: 20px; }
	&-questions {padding: 10px 0;}
}

.section-header {
	align-items: center;
	display: flex;
	margin-bottom: 20px;
	&__right { margin-left: auto; }
}