.s-bg-white {
	background-color: $white;
}
.section-header {
	align-items: center;
	display: flex;
	&__right {
		margin-left: auto;
	}
	&__link {
		color: $link-color;
		font-family: $medium-font;
		text-decoration: underline;
	}
}