.btn {
	align-items: center;
	background-color: $main-action-color;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	font-family: $medium-font;
	line-height: 20px;
	padding: 10px 20px;
	&:hover {
		background-color: #f0de01;
	}
	& > * {
		&:not(:last-child) {margin-right: 10px;}
	}
	&__icon {
		@include size(25px);
	}
	&.btn {
		&--fill { width: 100%; justify-content: center;}
		&--disabled {opacity: .5;}
	}
}