.btn {
	align-items: center;
	background-color: $main-action-color;
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	font-family: $medium-font;
	line-height: 20px;
	padding: 8px 20px;
	white-space: nowrap;
	&:hover {
		background-color: #f0de01;
	}
	& > * {
		&:not(:last-child) {margin-right: 10px;}
	}
	&__icon {
		@include size(25px);
	}
	&.btn {
		&--fill { width: 100%; justify-content: center;}
		&--disabled {opacity: .5;}
		&--bg {
			&-green {
			background-color: $button-green-color;
			color: $white;
				}
			}
		&--border {
			&-green { 
				background-color: $white;
				border-color: $button-green-color;
				color: $button-green-color;
				}
			}
		&--size {
			&-s {padding: 3px 15px;}
		}
	}
}