.category-prev
	.category-prev__img(style="background-image:url('static/images/content/categories/category-prev1.jpg')")
	.category-prev__body
		.category-prev__title
			span.category-prev__title-text Категория полезных товаров
			span.count-text 1234
		ul.category-prev__list
			li.category-prev__item
				a(href="").link Выгодные комплекты 3 в 1
				span.count-text 11
			li.category-prev__item
				a(href="").link Выгодные комплекты 2 в 1
				span.count-text 22
			li.category-prev__item
				a(href="").link Выгодные комплекты + подарок
				span.count-text 33
			li.category-prev__item
				a(href="").link--green Все предложения
				span.count-text 44