.header {
	.container {
		display: flex;
		align-items: center;
	}
	&-top {
		&__user-nav {
			margin-left: auto;
		}
		&__location {
			margin-right: 80px;
			@media screen and (max-width: $tablet-size) { 
				margin-right: 20px;
				flex: 0 0 155px;
				width: 155px;
			}
		}
		padding: 12px 0;
	}
	&-main {
		background-color: $dark-bg-color;
		color: $white;
		padding: 20px 0;
		.container {
			position: relative;
			& > * {
				&:not(:last-child) {margin-right: 40px;}
			}
		}
	}
	&__basket-prev {margin-left: auto;}
}