.catalog-nav.header-main__catalog
	.catalog-nav__header
		.sandwich
			.sandwich__line.sandwich__line--top
			.sandwich__line.sandwich__line--middle
			.sandwich__line.sandwich__line--bottom
		span.catalog__title Каталог материалов
	.catalog-nav__body
		ul.catalog-nav__list
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Интересный товар
					span.count-text 12
				include catalog-subnav/catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Забавный товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Необходимый товар
					span.count-text 123
				include catalog-subnav/catalog-subnav-1
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Доступный товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Недорогой товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Полезный товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Качественный товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Желанный товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Лучший товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Престижный товар
				.catalog-subnav
			li.catalog-nav__item
				.catalog-nav__label
					span.catalog-nav__label-text Занимательный товар
				.catalog-subnav