.catalog-nav.header-main__catalog
	.catalog-nav__header
		.sandwich
			.sandwich__line.sandwich__line--top
			.sandwich__line.sandwich__line--middle
			.sandwich__line.sandwich__line--bottom
		span.catalog__title Каталог материалов
	.catalog-nav-body