nav.main-nav.header-top__main-nav
	ul.main-nav__list
		li.main-nav__item
			a(href="").main-nav-link Оплата и доставка
		li.main-nav__item
			a(href="").main-nav-link Гарантия
		li.main-nav__item
			a(href="").main-nav-link Услуги
		li.main-nav__item
			a(href="").main-nav-link Компания
		li.main-nav__item
			a(href="").main-nav-link Контакты