nav.main-nav.header-top__main-nav
			ul.main-nav__list
				li.main-nav__item
					a(href="").main-nav-link Оплата и доставка
					a(href="").main-nav-link Гарантия
					a(href="").main-nav-link Услуги
					a(href="").main-nav-link Компания
					a(href="").main-nav-link Контакты