.popup.mfp-hide#popup-upgrade
	.hide-on-success
		.popup__header
			span.popup__title Что можно улучшить на этой странице?
			.popup__close
				+icon('close', 'popup__close-icon')
		.popup__body
			form.form
				.form__body
					.form-line
						.form-group.form-group--required
							label.form-group__label Вопрос или комментарий
							textarea(placeholder="Здравствуйте, на этой странице можно" name="req-textarea").textarea-field
					.form-line
						.form-group.form-group--width-m
							label.form-group__label Электронная почта
							input(placeholder="Введите свой email" type="email" name="email").input-field
						span.form-line__info.form-line__info--size-s Мы быстрее исправим ошибку если сможем связаться с вами, для уточнения информации
					.form-line
						.form-group.form-group--width-m.form-group--required
							label.form-group__label Контактный телефон
							input(placeholder="+3(8011)123-34-45" type="phone" name="phone").input-field
				.form__footer
					.form-line
						.form-group.form-group--width-m
							input(type="submit" value="Предложить улучшение").btn.btn--size-l.btn--fill
					.form-line
						p.form-info Задавая вопрос, вы соглашаетесь с <a href="" class="form-info__link">политикой конфиденциальности </a>
	.show-on-success
		.popup__header
			span.popup__title Что можно улучшить на этой странице?
			.popup__close
				+icon('close', 'popup__close-icon')
		.popup__body
			.form-success
				.form-success__block
					.form-success__info
						span.form-success__text Номер вашей заявки
						span.form-success__number 1234
					p.form-success__description Менеджер позвонит на указанный телефон сегодня до <b>14:43</b>
				.form-success__block
					span.form-success__label Не готовы ждать?
					.form-success__row
						.form-success__col
							.form-success-contacts
								+icon('phone', 'form-success-contacts__icon')
								span.form-succes-contacts__text Звоните круглосуточно
								a(href="tel:+380993333333").link--green +380993333333
								a(href="").link--underline.form-success-contacts__link Набрать номер по QR коду
						.form-success__col
							.form-success-contacts
								+icon('email', 'form-success-contacts__icon')
								span.form-succes-contacts__text Напишите нам email
								a(href="mailto:question@yoursite.ru").link--green question@yoursite.ru