mixin footerNavLink(link, text, descr)
	li.footer-nav__item
		a(href=link).footer-nav__link=text
		if(descr)
			span.footer-nav__descr=descr

footer.footer
	.footer-top
		.container
			.footer-callback
				img(src="static/images/general/wikipedia.png" alt="Фото иконки википедии").footer-callback__img
				.order-callback.footer-callback__order-callback
					span.order-callback__description Звоните круглосуточно
					a(href="tel:+390977474545").order-callback__phone +390977474545
					a(href="").order-callback__link.link--white.link--underline Заказать звонок
			.footer-main
				.footer__col
					span.footer__title О нас
					ul.footer-nav__list
						+footerNavLink('','Оплата и доставка','')
						+footerNavLink('','Гарантия','')
						+footerNavLink('','Дополнительные услуги','')
						+footerNavLink('','История компании','')
						+footerNavLink('','Контакты','связь с директором')
				.footer__col
					span.footer__title Каталог
					ul.footer-nav__list
						+footerNavLink('','Вcё для покупателя','')
						+footerNavLink('','Для организаций','')
						+footerNavLink('','Категория товаров СЕО','')
						+footerNavLink('','Категория товаров СЕО','')
				.footer__col
					.footer__block
						span.footer__title Принимаем к оплате
						.payment-types
							ul.payment-types__list
								li.payment-types__item
									+icon('visa', 'payment-types__logo')
								li.payment-types__item
									+icon('mastercard', 'payment-types__logo')
								li.payment-types__item
									+icon('paypal', 'payment-types__logo')
							a(href="").link--underline.link--yellow Оплата заказа онлайн
					.footer__block
						.footer-action
							span.footer-action__title Акции и спецпредложения
							.action-tooltip
								+icon('gift', 'action-tooltip__icon')
								span.action-tooltip__text Крутой приз в подарок до 31 декабря!
				.footer__col
					.footer__block
						span.footer__title Контакты
						.footer-contacts
							+icon('map', 'footer-contacts__icon')
							span.footer-contacts__title Офис
							.footer-contacts__text 111000, Городок ул.Неизвестная, д.22, стр.3 
								.contacts-popup
									span.contacts-popup__toggle на карте
									.contacts-popup__body
										.contacts-popup__map#popup-contacts-office
										.contacts-popup__info
											.contacts-popup__close
												+icon('close', 'contacts-popup__close-icon')
											span.contacts-popup__title Центральный офис в столице
											span.contacts-popup__text 111333, Город, ул. Разбитых фонарей, дом 15, этаж 10 
											.contacts-popup__block
												span.contacts-popup__label Время работы:
												span.contacts-popup__text пн-пт 9:00 - 18:00
											.contacts-popup__qr
												span.contacts-popup__text Для построения маршрута наведите камеру на QR - код
												img(src="static/images/general/wikipdia.png" alt="QR код").contacts-popup__qr-image
					.footer__block
						.footer-contacts
							+icon('map', 'footer-contacts__icon')
							span.footer-contacts__title Производство и склад
							.footer-contacts__text Далёкая область, Сумрачный район, г.Закрытоящик, Южная промзона, "Заводской Комплекс"
								.contacts-popup
									span.contacts-popup__toggle на карте
									.contacts-popup__body
										.contacts-popup__map#popup-contacts-stock
										.contacts-popup__info
											.contacts-popup__close
												+icon('close', 'contacts-popup__close-icon')
											span.contacts-popup__title Производство и склад
											span.contacts-popup__text Далёкая область, Сумрачный район, г.Закрытоящик, Южная промзона, "Заводской Комплекс"
											.contacts-popup__block
												span.contacts-popup__label Время работы:
												span.contacts-popup__text пн-пт 9:00 - 18:00
											.contacts-popup__qr
												span.contacts-popup__text Для построения маршрута наведите камеру на QR - код
												img(src="static/images/general/wikipdia.png" alt="QR код").contacts-popup__qr-image
	.footer-bottom
		.container
			.footer-bottom__line
				span.copyright LTD "Company Best"
				a(href="").footer-bottom__link Политика конфиденциальности
				a(href="").footer-bottom__link Карта сайта
			.footer-bottom__line
				p.footer-bottom__text Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой
				p.footer-bottom__text Для получения подробной информации о наличии, видах, характеристиках и стоимости материалов, пожалуйста, обращайтесь в отдел продаж.